@model DoadorListViewModel

@foreach (var d in Model.Doadores)
{
    <div>
        <a asp-action="Details" asp-route-id="@d.DoadorID"><h4>@d.Nome</h4></a>
        <h3>@d.Email</h3>
        <h3>@d.Endereco</h3>
        <h4>@d.Doacoes</h4>
    </div>
}