@model DoeLuz.Models.Doacao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="text-align:center">Você tem certeza que deseja excluir esta doação?</h3>
<div>
    <h4>Doação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDoacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doador.DoadorID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.BeneficiarioID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DoacaoID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a style="color:#D46A6B;" asp-action="List">Voltar para lista</a>
    </form>
</div>
